include ../head/template.pug

doctype html
html(lang="es")
  +head(title)

  body
    hgroup
      a(href="/")
        h1 1-0.futbol
          sup (beta)

    nav
      ul
        each seasson in seassons
          - var link = `temporada-${seasson.slug}.html`
          li
            a(href=link)
              | Temporada #[strong=seasson.name]
