include ../../components/seasson/template.pug
include ../head/template.pug

doctype html
html(lang="es")
  +head(title)

  body(class="fixtures" id="fixture" + currentWeek)
    hgroup
      a(href="/")
        h2.title 1-0.futbol 
          sup (beta)
      +seasson(seasson, currentWeek)

    nav
      ul
        - var n=0
        while n < weeks
          - var link = `temporada-${seasson.slug}-jornada-${++n}.html`
          li
            a(href=link)
              | Resultados jornada #[strong=n]

    script(src="1-0.min.js" type="application/javascript")
